.book__a__table__block {
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 2402px;
    border: 1px solid rgba(233, 10, 10, 0.918);

}
.book__a__table {
    
}
.book__a__table__lettering {
}

.book__a__table__rectangle {

}

.book__a__tablecontent__lettering {

}

.book__a__table__photo {

}
    
.book__a__table__square {

}
  