.delicious-menu-selector {
    position: absolute;
width: 840px;
height: 50px;
left: 300px;
top: 247px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* or 150% */

display: flex;
align-items: center;
text-align: center;

color: #333333;

}


.delicious-menu-selector-soupe {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 0px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-selector-pizza {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 120px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid rgba(233, 10, 10, 0.918);

}

.delicious-menu-selector-pasta {
    position: absolute;
width: 120px;
height: 50px;
left: 240px;
top: 0px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* or 150% */
text-transform: uppercase;
display: flex;
align-items: center;
text-align: center;

color: #333333;
border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-selector-desert {
    position: absolute;
width: 120px;
height: 50px;
left: 360px;
top: 0px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* or 150% */
text-transform: uppercase;
display: flex;
align-items: center;
text-align: center;

color: #333333;
border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-selector-wine {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 480px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
    border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-selector-beer {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 600px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
    border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-selector-drinks {

    position: absolute;
    width: 120px;
    height: 50px;
    left: 720px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
    border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-content-block{
    position: absolute;
    width: 1200px;
    height: 50px;
    left: 20px;
    top: 400px;
    border: 1px solid rgba(233, 10, 10, 0.918);
}

.delicious-menu-soupe-table {

}


.delicious-menu-pizza-table {
    visibility: hidden;
}

.delicious-menu-pasta-table {
    visibility: hidden;
}

.delicious-menu-desert-table {
    visibility: hidden;
}

.delicious-menu-wine-table {
    visibility: hidden;
}

.delicious-menu-beer-table {
    visibility: hidden;
}

.delicious-menu-drinks-table {
    visibility: hidden;
}