.private-events {
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 4805px;
    border: 1px solid rgba(112, 112, 226, 0.918);
}

.private-events-lettering {
    width: 1440px;
    height: 120px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    justify-content: space-around;
}


.private-events-pictures-left {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 193px;
    top: 100px;
    background: no-repeat center/112% url(specialties-rectangle.jpg);
    border-radius: 5px;
    z-index: 10;
}

.private-events-pictures-left-rectangle {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 75px;
    top: 213px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    z-index: 11;
}

.private-events-pictures-right {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 761px;
    top: 100px;
    background: no-repeat center/110% url(about-bookatable-img.jpg);
    border-radius: 5px;
    z-index: 10;
}

.private-events-pictures-right-rectangle {
        position: absolute;
        width: 250px;
        height: 250px;
        left: 1111px;
        top: 213px;
        border: 20px solid #E8C300;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
        border-radius: 5px;
        z-index: 11;
}

.private-events-lettering-content {
        position: absolute;
        width: 1220px;
        height: 180px;
        left: 360px;
        top: 450px;
        font-family: Open Sans;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: flex-end;
        text-align: center;
}